<div class="card bg-dark text-white">
  <img class="card-img-top img-responsive" *ngIf="book.volumeInfo.imageLinks" (error)="imgUrlError($event)" src="{{imgUrl | fixThumbnail}}" alt="Book thumbnail" />
  <div class="card-body" (click)="bodyClicked.emit(book)">
    <h5 class="card-title">{{book.volumeInfo.title | title}}</h5>
    <h6 class="card-subtitle text-muted mb-2">{{book.volumeInfo.subtitle}}</h6>
    <p class="card-text">{{book.volumeInfo.description | ellipsis}}</p>
    <hr/>
    <h6 class="card-subtitle">Written By:</h6>
    <span>
      {{book.volumeInfo.authors | addCommas}}
    </span>
    <hr/>
    <h6 class="card-subtitle">Published Date:</h6>
    <span>
      {{book.volumeInfo.publishedDate | dateFormat:'dd/MM/yyyy'}}
    </span>
  </div>
  <div class="card-footer">
    <a (click)="editClicked.emit(book)" class="btn btn-info btn-sm mr-1">Edit</a>
    <a (click)="deleteClicked.emit(book)" class="btn btn-danger btn-sm">Delete</a>
  </div>
</div>
