<div class="row">
  <div class="col-sm-12">
    <carousel>
      <slide>
        <div class="col-sm-12">
          <img src="https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg" alt="first slide"
            class="img-fluid">
          <div class="carousel-caption d-none d-md-block">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
      </slide>
      <slide>
        <div class="text-center py-5 bg-dark text-white">
          <h2>First custom content</h2>
          <div class="lead">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</div>