<div class="row mb-3">
    <button (click)="showAddModal(addBookTemplate)" class="btn btn-primary text-white ml-2"><i class="fa fa-plus-circle"></i>&nbsp;Add
      Book</button>
  <div class="col-lg-4 col-md-4 col-sm-2 col-xs-2">
    <app-book-search [query]="searchQuery$ | async" [error]="error$ | async" (search)="search($event)"></app-book-search>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" [checked]="reset$" (change)="toggleResetList($event)" id="resetBooks">
      <label class="form-check-label" for="resetBooks">Reset book list on search</label>
    </div>
  </div>
  <div class="col-sm-1">
    <app-loading [show]="loading$ | async"></app-loading>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-12">
    <app-book-list (deleteClicked)="showDeleteModal(deleteBookTemplate, $event)" (bodyClicked)="showDetailsModal(detailsTemplate, $event)" (editClicked)="showEditModal(editBookTemplate, $event)"
      [books]="books$ | async"></app-book-list>
  </div>
</div>

<ng-template #addBookTemplate>
  <div class="modal-header bg-dark text-white">
    <h4 class="modal-title pull-left">Add Book</h4>
    <button type="button" class="close text-white pull-right" aria-label="Close" (click)="hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-book-editor [book]="selectedBook" [books]="books$ | async" (cancelEdit)="hide()" (doneEdit)="addBook($event)"></app-book-editor>
  </div>
</ng-template>

<ng-template #editBookTemplate>
  <div class="modal-header bg-dark text-white">
    <h4 class="modal-title pull-left">Edit Book</h4>
    <button type="button" class="close text-white pull-right" aria-label="Close" (click)="hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-book-editor [book]="selectedBook" [books]="books$ | async" (cancelEdit)="hide()" (doneEdit)="saveBook($event)"></app-book-editor>
  </div>
</ng-template>

<ng-template #detailsTemplate>
  <div class="modal-header bg-dark text-white">
    <h5 class="card-title pull-left">'{{selectedBook.volumeInfo.title | title}}'</h5>
    <button type="button" class="close text-white pull-right" aria-label="Close" (click)="hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <h6 class="card-subtitle mb-2">{{selectedBook.volumeInfo.subtitle}}</h6>
    <p class="card-text">{{selectedBook.volumeInfo.description}}</p>
    <hr/>
    <h6 class="card-subtitle">Written By:</h6>
    <span>
      {{selectedBook.volumeInfo.authors | addCommas}}
    </span>
    <hr/>
    <h6 class="card-subtitle">Published Date:</h6>
    <span>
      {{selectedBook.volumeInfo.publishedDate | dateFormat:'dd/MM/yyyy'}}
    </span>
  </div>
</ng-template>

<ng-template #deleteBookTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete&nbsp;<em>'{{selectedBook.volumeInfo.title}}'</em></h4>
    <button type="button" class="close text-white pull-right" aria-label="Close" (click)="hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      <strong>Caution!</strong> You're about to
      <span class="text-danger b">Delete</span>&nbsp;<em>'{{selectedBook.volumeInfo.title}}'</em><br />
      Are you sure you want to proceed?
    </p>
    <hr />
    <button type="button" (click)="deleteBook()" class="btn btn-danger mr-1">Delete</button>
    <button type="button" class="btn btn-outline-danger" (click)="hide()">Cancel</button>
  </div>
</ng-template>
