<div class="row mb-3">
    <button (click)="showAddModal(addBookTemplate)" class="btn btn-primary text-white ml-2"><i class="fa fa-plus"></i>&nbsp;Add
        Book</button>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <app-book-search [query]="searchQuery$ | async" [searching]="loading$ | async" [error]="error$ | async"
            (search)="search($event)"></app-book-search>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <app-book-list (onDeleteClick)="showDeleteModal(deleteBookTemplate, $event)" (onEditClick)="showEditModal(editBookTemplate, $event)"
            [books]="selectedBooks | async"></app-book-list>
    </div>
</div>

<ng-template #addBookTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Book</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        This is a Add modal

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Add</button>
        <button type="button" class="btn btn-outline-primary">Cancel</button>
    </div>
</ng-template>

<ng-template #editBookTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Book</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{selectedBook | json}}

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-outline-primary">Cancel</button>
    </div>
</ng-template>

<ng-template #deleteBookTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Delete&nbsp;<em>'{{selectedBook.volumeInfo.title}}'</em></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>
            <strong>Caution!</strong> You're about to
            <span class="text-danger b">Delete</span>&nbsp;<em>'{{selectedBook.volumeInfo.title}}'</em><br />
            Are you sure you want to proceed?
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" (click)="deleteBook()" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-outline-danger" (click)="modalRef.hide()">Cancel</button>
    </div>
</ng-template>